.table-scrollable-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
  padding-top: 40px;
}

.table-scrollable {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 180px;
  width: 2600;
}

.table-scrollable > table {
  border: 0;
  margin-bottom: 0;
  table-layout: fixed;
}

.table-scrollable thead {
  position: absolute;
  top: 0;
}

.table-scrollable th {
  max-width: 100px;
  min-width: 100px;
  overflow-x: hidden;
}
