/* このmax-heightより大きいと縦スクロールが出る */
.tbody-max-height {
  max-height: 100px;
}

/* table-responsiveの定義を上書いて高さがを溢れたらスクロールさせる */
.tbody-overflow-y {
  overflow-y: scroll;
}

/* 横幅を固定することでヘッダーとボディの幅を揃える */
.table-responsive th,
.table-responsive td {
  max-width: 100px;
  min-width: 100px;
  overflow-x: hidden;
}

.table-responsive > table {
  margin-bottom: 0;
}

.block {
  display: block;
}
